.selection-container {
    display: block;

    .account-card {
        display: flex;
        margin: 1rem;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        .title {

            svg {
                max-width: 150px;
                padding-bottom: 1rem;
            }
    
            h3 {
                font-weight: 400;
            }

        }

        .account-options {
            margin-top: 1rem;
            padding: 1rem;
            background: rgba(115,134,154,.1);

            input {
                max-width: 100%;
                padding: 0.5rem;
                text-align: center;
            }

            button {
                cursor: pointer;
                display: block;
                margin: 0 auto;
                background: none;
                border: 2px solid #73869a;
                margin-top: 0.5rem;
                padding: 0.5rem;
                max-width: 100%;
                text-transform: uppercase;
                color: #73869a;
                background: #FFF;
                font-size: 1.1rem;

                &:hover {
                    background: #73869a;
                    color: #FFF;
                }

            }

        }

    }

}

@media screen and (min-width: 667px) {

    .selection-container {
        display: flex;
        //align-items: center;
    }

    .account-card {
        width: 50%;
    }

}